body {
  font-family: 'Lora', serif;
  margin: 4vw;
  color: #555273;
  overflow-x: hidden;
}

#logo {
  max-width: 10vw;
  margin: 2vw auto 2vw auto;
  display: block;
}

h1 {
  display: none;
}

.listTitle {
  margin: 2vw 0;
  padding: 1vw;
  font-weight: 600;
  font-size: 3vw;
  color: #555273;
}

textarea {
  border: none;
  resize: none;
  width: 100%;
}

textarea::placeholder {
  color: #DAD5E2;
}

textarea:focus, textarea:hover {
  outline: none;
  /* border-bottom: 3px solid #555273; */
}

.checkboxContainer {
  padding-right: 0;
}

.itemContainer {
  padding-left: 0;
}

.item {
  width: 80%;
  font-size: 1.5vw;
}

/* for larger screens */

@media only screen and (min-width: 1025px) {
  #logo {
    max-width: 3.5vw;
    margin: 1vw;
    display: inline;
  }
  h1 {
    font-weight: 600;
    font-size: 1.5vw;
    display: inline;
    vertical-align: middle;
  }
  textarea {
    padding: 0.5vw;
    font-size: 2vw;
  }
  .item {
    width: 90%;
    font-size: 1.5vw;
  }
}